/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body{
    font-family: verdana, arial, helvetica, sans-serif;
}
body{
margin:0px;
padding: 0px;
}

header{
    background-color: black;
    color: #BBBBBB;
    height: 50px;
    padding:20px;
}
header a, header a:visited{
    color: white;
}
.centered-form{
    margin: 10px auto;
    width:300px;
}
.centered-form input{

    font-size: 24px;
    display: block;
}
.centered-form input[type=submit]{
    margin: 30px 0px;
}
h2{font-size: 24px}
h3{font-size: 16px}
h4{font-size: 14px}
article.choice {
    display: inline-block;
    vertical-align:top;
    width: 380px;
    height:800px;
    margin:20px 0px 20px 20px;
}
article.choice p{
    margin:10px;
}

.clearfix{
    height:1px;
    clear: both;
}

article.choice .movie-summary{
    height:100px;
    overflow: scroll;
}

.choice-submit-button {
    background-color: #00dd00;
    border:none;
    color:white;
    font-size: 18px;
    margin: 10px;
    height:50px;
    width: 100px;
}
.choice-submit-button:disabled {
    background-color: #DADADA;
}

ul.movie-attributes{
    list-style: none;
}

ul.movie-attributes li{
    margin:5px 0px 0px;
}

.movie-attribute{
    font-size: 12px;
}
.movie-attribute.name{
    font-weight: bold;
}
article.choice > label{
    display: block;
    padding: 10px;

}/*   ✓   */
.profile-radio{display: none}
.profile-radio:checked + label{
    background-color: #EFEFEF;
    border:#999999 2px solid;
    position:relative;
}
.profile-radio:checked + label::after {
    content: '✓';
    display:block;
    position:absolute;
    background-color: #00dd00;
    font-size: 48px;
    top:-15px;
    right:-15px;
    width: 60px;
    height: 60px;
    text-align: center;
    color:white;
}

.movie-poster{
    width:200px;
    max-height: 380px;
    float: left;
    margin:10px;
}

.form-header{
    height:70px;
    background-color: #F7F7F7;
}
.form-header input{
    float:right;
}
.form-header h1{
    line-height: 70px;
    margin: 0;
}